/* HeartRateZone.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

:root {
  --primary-color: #48abe0;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
.HeartRateZone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%; /* Ensure it takes the full height of its parent */
}

.Slider-Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#slider-bottom > div {
  flex: 1; /* Each child will take up 50% of the width */
  margin: 0 10px; /* Optional: Add margin for spacing */
}

.Heart-Data-Table {
  flex-grow: 1;
  display: flex;
  align-items: flex-end; /* Position the table at the bottom */
  width: 100%;
}

/* Hide last column for small screens */
@media (max-width: 400px) {
  .Heart-Data-Table .hide-on-mobile {
    display: none;
  }
  /* Remove padding for TableCell */
  .Heart-Data-Table .MuiTableCell-root {
    padding: 0 !important;
  }

  .Heart-Data-Table .MuiTableHead-root .MuiTableCell-root {
    padding: 0 !important;
  }
}
