/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

:root {
  --primary-color: #48abe0;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 2; /* 1.5 times the font size */
  overflow: auto; /* Ensure the root element is scrollable */
}
.power-input-row {
  display: flex;
  align-items: center;
}

.power-section {
  height: 100vh; /* Ensure section is tall enough to observe */
  margin-top: 50px; /* Adjust as needed */
}

#dark {
  background: black;
  color: #ffffff;
}

#dark h1,
#dark h2 {
  color: var(--primary-color);
}

.Main {
  display: flex;
  height: 100%;
  width: 100%;
}

.Sidebar {
  width: 15%;
  margin: 1em;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: rgb(18, 16, 16);
  box-shadow: 0 0 10px 3px var(--primary-color);
}

#light .Sidebar {
  background-color: #ffffff;
}

#dark .Sidebar {
  background-color: black;
}

.Content {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: 'Libre Franklin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Slider-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiButton-root.active {
}

.left-top,
.right-top {
  flex: 1;
}

.content-main {
  display: flex;
}
.section-bottom,
.section-left,
.section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 3em;
}

.section-right ul {
  list-style-type: none; /* Remove default list bullets */
  padding: 0; /* Remove default padding */
  margin: 5; /* Remove default margin */
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: left; /* Center items horizontally */
}

.section-bottom {
  width: 50% !important;
  text-align: justify;
  line-height: 3;
}

.section-right {
  padding-left: 10px;
}

.Card {
  position: relative;
  height: min-content;
}

.table-container {
  margin-top: 20px;
}

.MuiTable-root {
  border: none !important;
  text-align: center !important;
}

.links {
  text-decoration: none;
  color: rgb(89, 148, 167);
}

@media all and (max-width: 1250px) {
  .content-main {
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    text-align: left !important;
  }

  .section-left,
  .section-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Ensure text alignment for each section */
    text-align: left;
    padding: 3em; /* You can adjust padding as needed */
  }

  .section-bottom {
    width: 80% !important;
    text-align: justify;
    line-height: 1.5;
    justify-content: center;
  }

  #ftp-input {
    margin: 0;
    padding: 4px;
  }

  .Card {
    margin-top: 30%;
  }

  .Sidebar {
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
  }

  .nav-btn {
    width: 50% !important;
  }

  #theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
  }
  table {
    padding: 0 !important;
    border: 0;
    width: 100% !important;
    text-align: center;
    border-spacing: 0 1em !important;
    border-collapse: separate !important;
  }
  th {
    padding: 0 !important; /* Remove padding from table header */
    margin: 0 !important; /* Remove margin if needed */
    vertical-align: middle;
    text-align: center !important;
  }

  th,
  td {
    padding: 0 !important; /* Remove padding from table header and data cells */
    margin: 0 !important; /* Remove margin if needed */
    font-size: 0.1em;
    text-align: center !important;
  }
}

@media all and (max-width: 1350px) {
  .section-left,
  .section-right {
    padding: 2em;
  }
}
@media all and (max-width: 400px) {
  .section-left p {
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    font-size: 1rem !important; /* Adjust as needed */
  }

  h2 {
    font-size: 0.75rem !important; /* Adjust as needed */
  }

  h3 {
    font-size: 0.5rem !important; /* Adjust as needed */
  }

  h4 {
    font-size: 0.375rem !important; /* Adjust as needed */
  }

  p,
  ol,
  li {
    font-size: 1rem !important;
  }
}
