.Main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkcyan;
}

.Center {
  height: 80%;
  width: 60%;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.Slider-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* Ensure it doesn't shrink */
  flex-shrink: 0;
  justify-content: space-between;
}
#HeartRateSlider {
  flex-basis: 60%;
  width: 30%;
}
#HeartRateValue {
  flex-basis: 100px;
  border: 1px solid blue;
}

#Slider-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#zone1 {
  background-color: #a8e6cf;
  box-shadow: 120px 80px 40px 20px #a8e6cf;
}
#zone2 {
  background-color: #56b881;
}
#zone3 {
  background-color: #ffd700;
}
#zone4 {
  background-color: #ff8c00;
}
#zone5 {
  background-color: #ff4500;
}

/* Media query for screens smaller than 768px (typical mobile size) */
@media screen and (max-width: 1000px) {
  /* Hide the "Intensity" column */
  #Slider-Header {
    display: none;
  }
  .Center {
    width: 95%;
    overflow: auto;
  }
  .hide-on-mobile {
    display: none !important;
  }

  .Slider-Row {
    flex-direction: column;
  }
}

@media screen and (max-width: 660px) {
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.component {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.component-large {
  flex: 3;
}
