@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Libre Franklin';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  height: 100%;
}
